div(class="content hbox")
  div(class="userlist vbox")
    p(class="userlist-header") Users
    div(class="userlist-content")
      ul
        li(ng-repeat="usr in users track by $index") {{usr}}
  div(class="chatlog vbox")
    div(class="test") Test
    p(class="chatlog-header") Messages
    div(autoscroll, class="chatlog-content", id="chatlog")
      ul
        li(ng-repeat="msg in messages track by $index")
          small {{msg.timestamp}} 
          |&nbsp;{{msg.message}}
    div(class="chatlog-footer")
      form(ng-submit="message()" class="hbox input")
        input(type="text", ng-model="message_to_send", class="textbox", id="text_to_send", autofocus)
        input(type="submit", value="Send", class="send-button")
