doctype html
html(ng-app="chatApp")
  head
    title Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-ui-router.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/script.js')
    base(href="/")
  body
    div(ui-view)
