h1 Welcome to Garbage House Chat
h1 Login
form
  table
    tr
      td
        label Username: 
      td  
        input(type="text", ng-model="formData.username")
    tr
      td
        label Password: 
      td
        input(type="password", ng-model="formData.password")
    tr
      td
        input(type="submit", ng-click="submit()")
