div(class="content")
  div(class="loginSignupForm")
    h2 Login
    form(class="vbox")
      label Username:
      input(type="text", class="textbox", ng-model="formData.username")
      br
      label Password: 
      input(type="password", class="textbox", ng-model="formData.password")
      br
      input(type="submit", value="Login", class="button", ng-click="login()")
    form(class="vbox")
      input(type="submit", value="Sign Up", class="button", ng-click="getSignup()")
    div(ng-repeat="alert in alerts track by $index", class="warning", ng-click="closeAlert($index)") {{alert}}
