div(class="content")
  div(class="loginSignupForm")
    h2 Sign Up
    form(class="vbox")
      label E-Mail Address:
      input(type="text", class="textbox", ng-model="formData.email")
      br
      label Username: 
      input(type="text", class="textbox", ng-model="formData.username")
      br
      label Password: 
      input(type="password", class="textbox", ng-model="formData.password")
      br
      label Re-Enter Password: 
      input(type="password", class="textbox", ng-model="formData.repeatPassword", ng-change="comparePasswords()")
      br
      input(type="submit", value="Sign Up", class="button primary-button", ng-click="signup()")
      input(type="submit", value="Back to Login Page", class="button secondary-button", ng-click="getLogin()")
    div(class="alert fail", ng-show="showPasswordMismatch") Passwords do not match.
    div(class="alert fail", ng-repeat="alert in alerts track by $index", ng-click="closeAlert($index)") {{alert}}
