/* TODO change color scheme to this?
http://paletton.com/#uid=73x270kEcF5lhIDrfFTFGrzIglx
*/

html, body {
  font-family: 'Open Sans', sans-serif;
  background: rgba(41, 41, 41, 1);
  font-size: 1.15em;
  color: white;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 1em;
  }
}

@media only screen and (max-width: 320px) {
  html, body {
    font-size: .85em;
  }
}

[ui-view].ng-enter {
  transition: all .1s .2s linear;
}

[ui-view].ng-leave {
  transition: all .1s linear;
}

[ui-view].ng-enter, [ui-view].ng-leave-active {
  opacity: 0;
}

[ui-view].ng-enter-active, [ui-view].ng-leave {
  opacity: 1;
}

::-webkit-scrollbar {
  width: .25em;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.25);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(255,255,255,0.5);
}

input[type="text"], input[type="password"] {
  line-height: 2em;
}

.vbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.hbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.header {
  width: 100vw;
  
  justify-content: space-between;
  background-color: rgba(9, 113, 193,1);
}

.header > .left {
  padding: 1em;
}

.header > .right {
  padding: 1em;
  padding-right: .75em;
}

.header > .right.ng-hide-add, .header > .right.ng-hide-remove {
  transition: all .1s .2s ease-in-out;
}

.header > .right.ng-hide {
  opacity: 0;
}

.header > .right > .loggedInAs > .logout {
  color: white;
  padding: .25em;
}

.header > .right > .loggedInAs > .logout:hover {
  color: rgba(255, 0, 0, 1);;
}

.header > .right > .loggedInAs > .logout:active {
  color: rgba(171, 0, 0, 1);
}

.header > .right > .loggedInAs > .settingsToggle {
  color: white;
  padding: .25em;
}

/*.header > .right > .loggedInAs > .settingsToggle > .settingsCog {
  transition: transform 1s ease-in-out;
}

.header > .right > .loggedInAs > .settingsToggle > .settingsCog.active {
  transform: rotate(360deg);
}*/

.header > .right > .loggedInAs > .settingsToggle:hover {  
  color: rgba(0, 220, 0, 1);
}

.header > .right > .loggedInAs > .settingsToggle:active {
  color: rgba(0, 137, 0, 1);
}

.header > .right > .loggedInAs > .username {
  padding-left: .25em;
  padding-right: .25em;
}

.content {
  position: absolute;
  width: 100vw;
}

.loginSignupForm {
  padding-top: 3.5em;
  width: 15em;
  
  margin: 0 auto;
}

.alreadyLoggedIn {
  text-align: center;
  
  padding-top: 3.5em;
  width: 25em;
  
  margin: 0 auto;
}

.alert {
  padding: 1em;
  border-radius: .3em;
  margin-bottom: 1em;
}

.alert.fail {
  background-color: rgba(255, 0, 0,1);
}

.alert.fail:hover {
  background-color: rgba(255, 85, 85, 1);
}

.alert.fail:active {
  background-color: rgba(171, 0, 0, 1);
}

.alert.success {
  background-color: rgba(9, 113, 193, 1);
}

.alert.success:hover {
  background-color: rgba(77, 148, 203, 1);
}

.alert.success:active {
  background-color: rgba(4, 64, 110, 1);
}

form > .textbox {
  font-family: 'Open Sans', sans-serif;
  flex: 1;
  border-style: none;
  border-radius: .3em;
  padding: .25em;
  font-size: .75em;
}

.button {
  font-family: 'Open Sans', sans-serif;
  border-style: none;
  border-radius: .3em;
  font-size: 1em;
  padding: 1em;
  margin-bottom: 1em;
}

.button:focus {
  outline: 0;
}

.primary-button {
  color: white;
  background-color: rgba(9, 113, 193, 1);
}

.primary-button:hover {  
  background-color: rgba(77, 148, 203, 1);
}

.primary-button:active {
  background-color: rgba(4, 64, 110, 1);
}

.secondary-button {
  color: white;
  background-color: rgba(0, 220, 0, 1);
}

.secondary-button:hover {  
  background-color: rgba(76, 226, 76, 1);
}

.secondary-button:active {
  background-color: rgba(0, 137, 0, 1);
}

.userlist {
  order: 0;
  flex: 1;
  border-right: solid;
  border-width: 1px;
  border-color: rgba(128,128,128,1);
}

.userlist > .userlist-header {
  order: 0;
  flex: 0;
  padding: .5em;
  margin: 0;
  color: rgba(0, 220, 0, 1);
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(128,128,128,1);
}

.userlist > .userlist-content {
  order: 1;
  flex: 1;
  overflow-y: scroll;
  margin: .5em;
}

.userlist > .userlist-content > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.userlist > .userlist-content > ul > li {
  border-bottom: solid 1px;
  border-color: rgba(128,128,128,1);
  margin-right: .5em;
  padding: .5em;
}

.chatlog {
  order: 1;
  flex: 3;
}

.settingsCheckbox {
  display: none;
}

#settings-overlay {
  position: absolute;

  transition: right 1s ease-in-out;

  z-index: 2;
  width: 15em;
  right: -15em;
  
  background-color: rgba(41, 41, 41, 1);
}

#settings-overlay.display {
  right: 0;
}

#settings-overlay > .container {
  height: calc(100%);
  width: calc(100%);
}

#settings-overlay > .container > .settings-header {
  order: 0;
  flex: 0;
  
  border-bottom: solid 1px;
  border-color: rgba(128,128,128,1);
  padding: 1em;
}

#settings-overlay > .container > .settings-content {
  order: 1;
  flex: 1;
  
  padding: .5em;
  margin: .5em;
}

#dim-overlay {
  position: absolute;
  
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;

  transition: opacity 1s ease-in-out, visibility 1s, pointer-events 0s;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba(0, 0, 0, .75);
}

#dim-overlay.display {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.chatlog > .chatlog-header {
  order: 0;
  flex: 0;
  padding: .5em;
  margin: 0;
  color: rgba(0, 220, 0, 1);
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(128,128,128,1);
}

.chatlog > .chatlog-content {
  order: 1;
  flex: 1;
  overflow-y: scroll;
  margin: .5em;
}

.chatlog > .chatlog-content > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chatlog > .chatlog-content > ul > li {
  border-bottom: solid 1px;
  border-color: rgba(128,128,128,1);
  margin-right: .5em;
  padding: .5em;
}

.chatlog > .chatlog-content > ul > li:nth-child(even) {
  background-color: rgba(255,255,255,.05);
}

.chatlog > .chatlog-content > ul > li > .message-header > {
  /*padding-right: .25em;*/
}

.chatlog > .chatlog-content > ul > li > .message-header > .nickname {
  /*padding-left: .25em;*/
  display: inline-block;
}

.chatlog > .chatlog-content > ul > li > .message-header > .timestamp {
  display: inline-block;
  
  color: rgba(255, 146, 0, 1);
  border-color: rgba(128,128,128,1);
  font-size: .5em;
  font-weight: 300;
  
  flex-shrink: 0;
  padding-left: 1em;
}

.chatlog > .chatlog-content > ul > li > .message-content {
  padding-left: 1em;
}

.chatlog > .chatlog-footer {
  border-top: solid 1px;
  border-color: rgba(128,128,128,1);
  
  order: 2;
  flex: 0;
  padding: .5em;
}

.input > .form-textbox {
  font-family: 'Open Sans', sans-serif;
  flex: 1;
  border-style: none;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;
  padding: .25em;
  font-weight: 400;
  font-size: .65em;
}

.input > .form-button {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(9, 113, 193,1);
  color: white;
  border-style: none;
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
  font-size: .65em;
  padding: .75em;
}

.input > .form-button:hover {  
  background-color: rgba(77, 148, 203,1);
}

.input > .form-button:active {
  background-color: rgba(4, 64, 110, 1);
}

.input > .form-button:focus {
  outline: 0;
}
